extends layout 

block content 
    .container-fluid.text-center.bg-primary.text-light.p-3
        h2= title 
    .container 
        .options 
            ul 
                li
                    a(href="/add_event") Add Event 
                li  
                    a(href="/list_events") List Events 
                li 
                    a(href="/remove_event") Remove Events 