extends layout 

block content 
    .container-fluid.bg-dark.border-top.text-light.p-3
        h3.container= title
    .container 
        .options 
            ul 
                li
                    a(href="/add_event") Add Event 
                li  
                    a(href="/list_events") List Events 
                li 
                    a(href="/remove_event") Remove Events 