extends layout
include mixins/_tickets 

block content
    .container-fluid.text-center.bg-primary.text-light.p-3
        h2= title 
    .container 
        each event in events
            .eventWrapper
            //- h1= event.event_name
            +ticket(event) 
