extends layout
include mixins/_tickets 

block content
    .container-fluid.bg-dark.border-top.text-light.p-3
        h3.container= title
    .container 
        each event in events
            .eventWrapper
            //- h1= event.event_name
            +ticket(event) 
