doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header 
      h2 
        a(href="/") Tickets 
      ul 
        li 
          a(href="/login") Login 
        li 
          a(href="/sign-up") Sign-up
      .header_img 
          img(src="http://res.cloudinary.com/ddyffgmvq/image/upload/v1661096531/ov60baspxxy0w1elapfl.jpg", alt="header image")
    block content
