doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header 
      h2 
        a(href="/") Tickets 
      ul 
        li 
          a(href="/login") Login 
        li 
          a(href="/sign-up") Sign-up
      .header_img 
          img(src="/images/header_img.jpg", alt="header image")
    block content
