extends layout
include mixins/_event_detail 

block content
  
  each event in eventData 
    if url.startsWith('/admin')
      .container-fluid 
        a(href=`${event._id}/update`)
          button(class='btn') Update Event 
        a(href=`${event._id}/delete`)
          button(class='btn') Delete Event 
    //- h1= event.event_name
    
    +event(event)