body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* header-img{
  --bs-gutter-x: -0.5rem;
} */
.login-banner{
  height: 25vh;
}
.login-banner > img{
  height: 100%;
  /* width: 110% !important; */
}
.hidden{
  display: none;
}